<h1>Store#index</h1>
<% if notice %>
<%= notice %>

<% end %>
<p>Find me in app/views/store/index.html.erb</p>
<% @cotilleo.each do |cotilla| %>



<%end%>

<% @results.each do |result|%>

<%=result.title%><%= number_to_currency(result.price)%><%= button_to 'Add to Cart', line_items_path(product_id: result) %>
Por que le pasa el product_id:  asi en vez de pasarle product.product_id?. Es que el prod
<br/>


<%end%>